<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-qrcodescanner" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MankidoQRReader</name>
    <js-module name="QRCodeScanner" src="www/qrcodescanner.js">
        <clobbers target="plugin.notification.qrcodescanner"/>
        <clobbers target="cordova.plugins.notification.qrcodescanner"/>
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="QRCodeScanner">
                <param name="ios-package" value="QRCodeScanner"/>
            </feature>
        </config-file>
        <source-file src="src/ios/QRCodeScanner.swift"/>
    </platform>
</plugin>
